body {
    background-image: url('back.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.top-header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
}